*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 600;
}
.container{
    background-color: #8BC6EC;
    background-image: linear-gradient(90deg, #8BC6EC 0%, #9599E2 100%);
    height: 700px;
}
h1{
    text-align: center;
    font-size: 60px;
    color: black;
    letter-spacing: 10px;

    animation: spread 6s linear infinite ;
}

@keyframes spread {

20%{
    letter-spacing: 13px;
    color: white;
}
40%{
    letter-spacing: 16px;
    color: rgb(205, 43, 43);
}
60%{
    letter-spacing: 13px;
    color: rgb(43, 31, 173);
}
80%{
    letter-spacing: 12px;
    color: rgb(134, 210, 27);
}
100%{
    letter-spacing: 10px;
    color: white;
}

}

#triangle_cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}
label{
    font-size: 25px;
}
input{
    width: 120px;
    height: 50px;
    margin: 20px auto;
    outline: none;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    border: 3px solid #000;
}
input:hover{
    border: 4px solid rgb(14, 14, 70);
}
button{
    width: 250px;
    height: 70px;
    margin: 20px auto;
    background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
    color: black;
    border: none;
    cursor: pointer;
    font-size: 24px;
}
#result{

    margin-top: 200px;
    font-size: 50px;
    color: rgb(27, 15, 0);
    text-align: center;
    text-transform: uppercase;
    font-family: "PT Serif", serif;
}